$fontOpenSans: 'OpenSansRegular', sans-serif
$mainFont: 'Roboto', sans-serif

$mainColor: #696969

body
	margin: 0
	padding: 0
	width: 100%
	color: $mainColor
	font-family: $mainFont, sans-serif
	font-size: 16px
	font-weight: 600
input,
textarea
	outline: none
	border: 2px solid $darkColor
	font-size: 14px
	font-weight: 500
	padding: 3px 0 3px 5px
button
	outline: none
	float: right
	width: 25px
	height: 25px
	border-radius: 50%
	border: 3px solid $darkIcons
	display: flex
	align-items: center
	justify-content: center
	cursor: pointer
	background-color: transparent
	i
		font-size: 15px!important
		font-weight: 500!important
		color: $darkIcons!important
h1
	font: $fontOpenSans
	font-weight: 700
	font-size: 30px
	color: $darkIcons
	text-transform: uppercase
h2
	font-family: $fontOpenSans
	font-weight: 700
	font-size: 30px
	color: $menuColor
	text-transform: uppercase
	margin: 10px
h3
	font-family: $fontOpenSans
	font-size: 23px
	font-weight: 700
	color: $menuColor
	margin: 5px
h4
	font-family: $fontOpenSans
	font-size: 17px
	font-weight: 700
	color: $darkColor
	margin: 10px 0
	padding: 0

ul
	list-style-type: none
	padding: 0
	margin: 0s
a
	text-transform: uppercase
	text-decoration: none!important
	color: $menuColor!important
	font-family: $fontRoboto, 16px
	font-weight: 700
	list-style-type: none

.container-fluid
	padding: 0

.mt-20
	margin-top: 20px
.mt-50
	margin-top: 50px
.mt-70
	margin-top: 70px
.mt-100
	margin-top: 100px
.mb-100
	margin-bottom: 100px

=btn($mainColor, $borderColor, $textColor)
	display: block
	width: 170px
	height: 40px
	text-align: center
	line-height: 40px
	border-radius: 40px
	border: 1px solid $borderColor
	background-color: $mainColor
	color: $textColor
	text-transform: uppercase
	font-size: 14px
